In [11]:
import pandas as pd
import datetime as dt

dt_paro_2024 = pd.read_csv("C:/Users/ferna/Downloads/Paro_por_municipios_2024_csv.csv",
                           header = 1, sep=";", encoding="latin1")

In [12]:
dt_paro_2024.head(10)

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Paro Registrado,Paro hombre edad < 25,Paro hombre edad 25 -45,Paro hombre edad >=45,Paro mujer edad < 25,Paro mujer edad 25 -45,Paro mujer edad >=45,Paro Agricultura,Paro Industria,Paro Construcción,Paro Servicios,Paro Sin empleo Anterior
0,202401,Enero de 2024,1,Andalucía,4,Almería,4001,Abla,80,<5,10,25,<5,19,20,13,6,5,51,5
1,202401,Enero de 2024,1,Andalucía,4,Almería,4002,Abrucena,53,<5,7,17,<5,15,11,5,6,6,30,6
2,202401,Enero de 2024,1,Andalucía,4,Almería,4003,Adra,1830,73,286,369,92,458,552,297,55,169,1124,185
3,202401,Enero de 2024,1,Andalucía,4,Almería,4004,Albánchez,24,<5,<5,9,0,<5,8,<5,<5,<5,17,0
4,202401,Enero de 2024,1,Andalucía,4,Almería,4005,Alboloduy,32,0,6,11,0,8,7,<5,6,<5,19,0
5,202401,Enero de 2024,1,Andalucía,4,Almería,4006,Albox,745,36,110,159,35,195,210,59,51,79,486,70
6,202401,Enero de 2024,1,Andalucía,4,Almería,4007,Alcolea,63,<5,<5,20,<5,17,17,13,<5,8,38,<5
7,202401,Enero de 2024,1,Andalucía,4,Almería,4008,Alcóntar,22,<5,<5,10,<5,5,<5,<5,<5,0,13,<5
8,202401,Enero de 2024,1,Andalucía,4,Almería,4009,Alcudia de Monteagud,<5,0,0,<5,0,0,<5,0,<5,0,<5,0
9,202401,Enero de 2024,1,Andalucía,4,Almería,4010,Alhabia,62,<5,12,21,<5,14,11,<5,<5,24,28,6