In [196]:
import pandas as pd
import datetime as dt
from dateutil import parser

In [197]:
# Carga de los csv

df_paro_2024 = pd.read_csv("C:/Users/ferna/Downloads/Paro_por_municipios_2024_csv.csv",
                           header = 1, sep=";", encoding="latin1")

df_paro_2019 = pd.read_csv("C:/Users/ferna/Downloads/Paro_por_municipios_2019_csv.csv",
                           header = 1, sep=";", encoding="latin1")

df_paro_2014 = pd.read_csv("C:/Users/ferna/Downloads/Paro_por_municipios_2014_csv.csv",
                           header = 1, sep=";", encoding="latin1")

In [198]:
# Definicion de una funcion que genere una columna de mes y año

def fecha_maker(x):
    # Conversion del valor en string
    x["mes"] = x["mes"].astype("str")
    # Creacion de la columna año
    x["año"] = x["mes"].apply(lambda x: x.split("de")[-1])
    # Creacion de la columna mes
    x["mes"] = x["mes"].apply(lambda x: x.split("de")[0])
    
    return x

In [199]:
# Creacion de las columnas de mes y año

df_paro_2024 = fecha_maker(df_paro_2024)

df_paro_2019 = fecha_maker(df_paro_2019)

df_paro_2014 = fecha_maker(df_paro_2014)

In [200]:
# Generación de los csv

# df_paro_2024.to_csv("datos_paro_2024.csv")
# df_paro_2019.to_csv("datos_paro_2019.csv")
# df_paro_2014.to_csv("datos_paro_2014.csv")

In [201]:
# DICCIONARIOS PARA CODIFICACION DE COMUNIDAD Y PROVINCIA 

dict_comunidad={"Andalucía": 0,
"Aragón":1, 
"Asturias, Principado de":2,
"Balears, Illes":3, 
"Canarias":4, 
"Cantabria":5,
"Castilla - La Mancha":6,
"Castilla y León":7,
"Cataluña":8,
"Extremadura":9,
"Galicia":10,
"Madrid, Comunidad de":11,
"Navarra, Comunidad Foral de":12, 
"País Vasco":13,
"Murcia, Región de":14,
"Rioja, La":15,
"Comunitat Valenciana":16, 
"Ceuta":17, 
"Melilla":18} 

dict_provincia = {
	"Araba/Álava":1,
	"Albacete":2,
	"Alicante/Alacant":3,
	"Almería":4,
	"Ávila":5,
	"Badajoz":6,
	"Balears, Illes":7,
	"Barcelona":8,
	"Burgos":9,
	"Cáceres":10,
	"Cádiz":11,
	"Castellón/Castelló":12,
	"Ciudad Real":13,
	"Córdoba":14,
	"Coruña, A":15,
	"Cuenca":16,
	"Girona":17,
	"Granada":18,
	"Guadalajara":19,
	"Gipuzkoa":20,
	"Huelva":21,
	"Huesca":22,
	"Jaén":23,
	"León":24,
	"Lleida":25,
	"Rioja, La":26,
	"Lugo":27,
	"Madrid":28,
	"Málaga":29,
	"Murcia":30,
	"Navarra":31,
	"Ourense":32,
	"Asturias":33,
	"Palencia":34,
	"Palmas, Las":35,
	"Pontevedra":36,
	"Salamanca":37,
    "Santa Cruz de Tenerife":38,
	"Cantabria":39,
	"Segovia":40,
	"Sevilla":41,
	"Soria":42,
	"Tarragona":43,
	"Teruel":44,
	"Toledo":45,
	"Valencia/Valéncia":46,
    "Valencia/València":46,    
	"Valladolid":47,
	"Bizkaia":48,
	"Zamora":49,
	"Zaragoza":50,
	"Ceuta":51,
	"Melilla":52,
}

In [202]:
# TABLA paro 2024

# Conversion a int de los valores de paro y eliminación de símbolos
df_paro_2024["total Paro Registrado"] = df_paro_2024["total Paro Registrado"].str.replace("<","").astype("int")

# Creación de la tabla con los datos de paro por comunidad y provincia en 2024
tabla_paro_2024 = df_paro_2024.groupby(["Comunidad Autónoma","Provincia", "año"])["total Paro Registrado"].mean().reset_index()
tabla_paro_2024["total Paro Registrado"] = tabla_paro_2024["total Paro Registrado"].apply(lambda x: round(x))

In [203]:
tabla_paro_2024

,Comunidad Autónoma,Provincia,año,total Paro Registrado
0,Andalucía,Almería,2024,478
1,Andalucía,Cádiz,2024,2780
2,Andalucía,Córdoba,2024,755
3,Andalucía,Granada,2024,422
4,Andalucía,Huelva,2024,442
5,Andalucía,Jaén,2024,413
6,Andalucía,Málaga,2024,1197
7,Andalucía,Sevilla,2024,1514
8,Aragón,Huesca,2024,36
9,Aragón,Teruel,2024,20
10,Aragón,Zaragoza,2024,139
11,"Asturias, Principado de",Asturias,2024,706
12,"Balears, Illes","Balears, Illes",2024,432
13,Canarias,"Palmas, Las",2024,2495
14,Canarias,Santa Cruz de Tenerife,2024,1457
15,Cantabria,Cantabria,2024,298
16,Castilla - La Mancha,Albacete,2024,274
17,Castilla - La Mancha,Ciudad Real,2024,341
18,Castilla - La Mancha,Cuenca,2024,41
19,Castilla - La Mancha,Guadalajara,2024,46
20,Castilla - La Mancha,Toledo,2024,235
21,Castilla y León,Burgos,2024,39
22,Castilla y León,León,2024,103
23,Castilla y León,Palencia,2024,34
24,Castilla y León,Salamanca,2024,49
25,Castilla y León,Segovia,2024,25
26,Castilla y León,Soria,2024,16
27,Castilla y León,Valladolid,2024,102
28,Castilla y León,Zamora,2024,35
29,Castilla y León,Ávila,2024,36
30,Cataluña,Barcelona,2024,803
31,Cataluña,Girona,2024,136
32,Cataluña,Lleida,2024,72
33,Cataluña,Tarragona,2024,215
34,Ceuta,Ceuta,2024,10058
35,Comunitat Valenciana,Alicante/Alacant,2024,910
36,Comunitat Valenciana,Castellón/Castelló,2024,259
37,Comunitat Valenciana,Valencia/Valéncia,2024,581
38,Extremadura,Badajoz,2024,296
39,Extremadura,Cáceres,2024,113
40,Galicia,"Coruña, A",2024,514
41,Galicia,Lugo,2024,178
42,Galicia,Ourense,2024,160
43,Galicia,Pontevedra,2024,768
44,"Madrid, Comunidad de",Madrid,2024,1645
45,Melilla,Melilla,2024,8624
46,"Murcia, Región de",Murcia,2024,1796
47,"Navarra, Comunidad Foral de",Navarra,2024,111
48,País Vasco,Araba/Álava,2024,362
49,País Vasco,Bizkaia,2024,550
50,País Vasco,Gipuzkoa,2024,328
51,"Rioja, La","Rioja, La",2024,75

In [204]:
# GENERACION DE TABLA 2024 DE PARO CON CODIGO COMUNIDAD, Y PROVINCIA

tabla_paro_2024["id_comunidad"] = tabla_paro_2024["Comunidad Autónoma"].apply(lambda x: dict_comunidad[x] if x in dict_comunidad else x)
tabla_paro_2024["id_provincia"] = tabla_paro_2024["Provincia"].apply(lambda x: dict_provincia[x] if x in dict_provincia else x)

tabla_paro_2024 = tabla_paro_2024[["id_comunidad", "id_provincia", "año", "total Paro Registrado"]]
tabla_paro_2024

    id_comunidad  id_provincia    año  total Paro Registrado
0              0             4   2024                    478
1              0            11   2024                   2780
2              0            14   2024                    755
3              0            18   2024                    422
4              0            21   2024                    442
5              0            23   2024                    413
6              0            29   2024                   1197
7              0            41   2024                   1514
8              1            22   2024                     36
9              1            44   2024                     20
10             1            50   2024                    139
11             2            33   2024                    706
12             3             7   2024                    432
13             4            35   2024                   2495
14             4            38   2024                   1457
15             5            39   2024                    298
16             6             2   2024                    274
17             6            13   2024                    341
18             6            16   2024                     41
19             6            19   2024                     46
20             6            45   2024                    235
21             7             9   2024                     39
22             7            24   2024                    103
23             7            34   2024                     34
24             7            37   2024                     49
25             7            40   2024                     25
26             7            42   2024                     16
27             7            47   2024                    102
28             7            49   2024                     35
29             7             5   2024                     36
30             8             8   2024                    803
31             8            17   2024                    136
32             8            25   2024                     72
33             8            43   2024                    215
34            17            51   2024                  10058
35            16             3   2024                    910
36            16            12   2024                    259
37            16            46   2024                    581
38             9             6   2024                    296
39             9            10   2024                    113
40            10            15   2024                    514
41            10            27   2024                    178
42            10            32   2024                    160
43            10            36   2024                    768
44            11            28   2024                   1645
45            18            52   2024                   8624
46            14            30   2024                   1796
47            12            31   2024                    111
48            13             1   2024                    362
49            13            48   2024                    550
50            13            20   2024                    328
51            15            26   2024                     75

In [205]:
# TABLA PARO 2019

# Creación de la tabla con los datos de paro por comunidad y provincia en 2019
tabla_paro_2019 = df_paro_2019.groupby(["Comunidad Autónoma","Provincia", "año"])["total Paro Registrado"].mean().reset_index()
tabla_paro_2019["total Paro Registrado"] = tabla_paro_2019["total Paro Registrado"].apply(lambda x: round(x))

In [206]:
# GENERACION DE TABLA 2019 DE PARO CON CODIGO COMUNIDAD, Y PROVINCIA

tabla_paro_2019["id_comunidad"] = tabla_paro_2019["Comunidad Autónoma"].apply(lambda x: dict_comunidad[x] if x in dict_comunidad else x)
tabla_paro_2019["id_provincia"] = tabla_paro_2019["Provincia"].apply(lambda x: dict_provincia[x] if x in dict_provincia else x)

tabla_paro_2019 = tabla_paro_2019[["id_comunidad", "id_provincia", "año", "total Paro Registrado"]]
tabla_paro_2019

    id_comunidad  id_provincia    año  total Paro Registrado
0              0             4   2019                    564
1              0            11   2019                   3297
2              0            14   2019                    925
3              0            18   2019                    471
4              0            21   2019                    583
5              0            23   2019                    494
6              0            29   2019                   1406
7              0            41   2019                   1787
8              1            22   2019                     41
9              1            44   2019                     23
10             1            50   2019                    171
11             2            33   2019                    904
12             3             7   2019                    726
13             4            35   2019                   3174
14             4            38   2019                   1841
15             5            39   2019                    352
16             6             2   2019                    385
17             6            13   2019                    462
18             6            16   2019                     52
19             6            19   2019                     52
20             6            45   2019                    296
21             7             9   2019                     49
22             7            24   2019                    139
23             7            34   2019                     46
24             7            37   2019                     62
25             7            40   2019                     32
26             7            42   2019                     19
27             7            47   2019                    133
28             7            49   2019                     45
29             7             5   2019                     44
30             8             8   2019                    901
31             8            17   2019                    160
32             8            25   2019                     85
33             8            43   2019                    246
34            17            51   2019                  11610
35            16             3   2019                   1042
36            16            12   2019                    286
37            16            46   2019                    667
38             9             6   2019                    391
39             9            10   2019                    153
40            10            15   2019                    681
41            10            27   2019                    235
42            10            32   2019                    200
43            10            36   2019                   1038
44            11            28   2019                   1923
45            18            52   2019                   9411
46            14            30   2019                   2213
47            12            31   2019                    118
48            13             1   2019                    375
49            13            48   2019                    589
50            13            20   2019                    345
51            15            26   2019                     90

In [207]:
# TABLA PARO 2014

# Creación de la tabla con los datos de paro por comunidad y provincia en 2014
tabla_paro_2014 = df_paro_2014.groupby(["Comunidad Autónoma","Provincia", "año"])["total Paro Registrado"].mean().reset_index()
tabla_paro_2014["total Paro Registrado"] = tabla_paro_2014["total Paro Registrado"].apply(lambda x: round(x))

In [208]:
# GENERACION DE TABLA DE PARO 2014 CON CODIGO COMUNIDAD, Y PROVINCIA

tabla_paro_2014["id_comunidad"] = tabla_paro_2014["Comunidad Autónoma"].apply(lambda x: dict_comunidad[x] if x in dict_comunidad else x)
tabla_paro_2014["id_provincia"] = tabla_paro_2014["Provincia"].apply(lambda x: dict_provincia[x] if x in dict_provincia else x)

tabla_paro_2014 = tabla_paro_2014[["id_comunidad", "id_provincia", "año", "total Paro Registrado"]]

In [209]:
## Carga de datos de poblacion en 2024 por comunidad autonoma, provincia y año
import re

poblacion_2024 = df_paro_2024 = pd.read_csv("C:/Users/ferna/Downloads/67988.csv", sep=";", encoding="latin1")
poblacion_2024 = poblacion_2024[["Comunidades y Ciudades Autónomas", "Provincias", "Periodo", "Total"]]
poblacion_2024 = poblacion_2024.dropna()
poblacion_2024["Comunidades y Ciudades Autónomas"] = poblacion_2024["Comunidades y Ciudades Autónomas"].apply(lambda x: re.sub(r"\d+", "", x).strip())
poblacion_2024["Provincias"] = poblacion_2024["Provincias"].apply(lambda x: re.sub(r"\d+", "", x).strip())

poblacion_2024["id_comunidad"] = poblacion_2024["Comunidades y Ciudades Autónomas"].apply(lambda x: dict_comunidad[x] if x in dict_comunidad else x)
poblacion_2024["id_provincia"] = poblacion_2024["Provincias"].apply(lambda x: dict_provincia[x] if x in dict_provincia else x)

poblacion_2024 = poblacion_2024[["id_comunidad", "id_provincia", "Periodo", "Total"]]

In [210]:
## CREACION DE TABLA CON DATOS DE PARO NORMALIZADO CADA 100000 habitantes por provincia

paro_poblacion_2024 = pd.merge(tabla_paro_2024, poblacion_2024,how="left", on=["id_comunidad", "id_provincia"])
paro_poblacion_2024 = paro_poblacion_2024[["id_comunidad", "id_provincia","año","total Paro Registrado","Total"]]

paro_poblacion_2024 = paro_poblacion_2024.rename(columns = {"total Paro Registrado":"Paro absoluto", "Total": "Poblacion"})

paro_poblacion_2024["Poblacion"] = paro_poblacion_2024["Poblacion"].str.replace(".","").astype("int")

paro_poblacion_2024["Paro normalizado"] = round((paro_poblacion_2024["Paro absoluto"] * 100000) / paro_poblacion_2024["Poblacion"])

In [211]:
paro_poblacion_2024

,id_comunidad,id_provincia,año,Paro absoluto,Poblacion,Paro normalizado
0,0,4,2024,478,760964,63.0
1,0,11,2024,2780,1258730,221.0
2,0,14,2024,755,774313,98.0
3,0,18,2024,422,939741,45.0
4,0,21,2024,442,535734,83.0
5,0,23,2024,413,619055,67.0
6,0,29,2024,1197,1774701,67.0
7,0,41,2024,1514,1968624,77.0
8,1,22,2024,36,228519,16.0
9,1,44,2024,20,135309,15.0
10,1,50,2024,139,987763,14.0
11,2,33,2024,706,1009599,70.0
12,3,7,2024,432,1231768,35.0
13,4,35,2024,2495,1159890,215.0
14,4,38,2024,1457,1078864,135.0
15,5,39,2024,298,590851,50.0
16,6,2,2024,274,389070,70.0
17,6,13,2024,341,492948,69.0
18,6,16,2024,41,199025,21.0
19,6,19,2024,46,280225,16.0
20,6,45,2024,235,743165,32.0
21,7,9,2024,39,359740,11.0
22,7,24,2024,103,447802,23.0
23,7,34,2024,34,158063,22.0
24,7,37,2024,49,327552,15.0
25,7,40,2024,25,156620,16.0
26,7,42,2024,16,90073,18.0
27,7,47,2024,102,525116,19.0
28,7,49,2024,35,166253,21.0
29,7,5,2024,36,160463,22.0
30,8,8,2024,803,5877672,14.0
31,8,17,2024,136,821108,17.0
32,8,25,2024,72,451707,16.0
33,8,43,2024,215,861744,25.0
34,17,51,2024,10058,83179,12092.0
35,16,3,2024,910,1993289,46.0
36,16,12,2024,259,615188,42.0
37,16,46,2024,581,2710808,21.0
38,9,6,2024,296,666029,44.0
39,9,10,2024,113,388652,29.0
40,10,15,2024,514,1128449,46.0
41,10,27,2024,178,325048,55.0
42,10,32,2024,160,304467,53.0
43,10,36,2024,768,947869,81.0
44,11,28,2024,1645,7009268,23.0
45,18,52,2024,8624,85985,10030.0
46,14,30,2024,1796,1568492,115.0
47,12,31,2024,111,678333,16.0
48,13,1,2024,362,338594,107.0
49,13,48,2024,550,1159368,47.0
50,13,20,2024,328,729722,45.0
51,15,26,2024,75,324184,23.0

In [212]:
df_poblacion_años= pd.read_csv("datos_poblacion_años.csv", sep=",", encoding="utf-8", index_col=0)

df_poblacion_años["Total"] = df_poblacion_años["Total"].str.replace(".","").astype("int")

df_poblacion_2019 = df_poblacion_años[df_poblacion_años["Periodo"] == 2019]
df_poblacion_2014 = df_poblacion_años[df_poblacion_años["Periodo"] == 2014]
df_poblacion_2019

                 Provincias   Sexo  Periodo     Total  CodigoProvincia
1                  Albacete  Total     2019    388167                2
4          Alicante/Alacant  Total     2019   1858683                3
7                   Almería  Total     2019    716820                4
10              Araba/Álava  Total     2019    331549                1
13                 Asturias  Total     2019   1022800               33
16                  Badajoz  Total     2019    673559                6
19           Balears, Illes  Total     2019   1149460                7
22                Barcelona  Total     2019   5664579                8
25                  Bizkaia  Total     2019   1152651               48
28                   Burgos  Total     2019    356958                9
31                Cantabria  Total     2019    581078               39
34       Castellón/Castelló  Total     2019    579962               12
37                    Ceuta  Total     2019     84777               51
40              Ciudad Real  Total     2019    495761               13
43                Coruña, A  Total     2019   1119596               15
46                   Cuenca  Total     2019    196329               16
49                  Cáceres  Total     2019    394151               10
52                    Cádiz  Total     2019   1240155               11
55                  Córdoba  Total     2019    782979               14
58                 Gipuzkoa  Total     2019    723576               20
61                   Girona  Total     2019    771044               17
64                  Granada  Total     2019    914678               18
67              Guadalajara  Total     2019    257762               19
70                   Huelva  Total     2019    521870               21
73                   Huesca  Total     2019    220461               22
76                     Jaén  Total     2019    633564               23
79                     León  Total     2019    460001               24
82                   Lleida  Total     2019    434930               25
85                     Lugo  Total     2019    329587               27
88                   Madrid  Total     2019   6663394               28
91                  Melilla  Total     2019     86487               52
94                   Murcia  Total     2019   1493898               30
97                   Málaga  Total     2019   1661785               29
100                 Navarra  Total     2019    654214               31
103                 Ourense  Total     2019    307651               32
106                Palencia  Total     2019    160980               34
109             Palmas, Las  Total     2019   1120406               35
112              Pontevedra  Total     2019    942665               36
115               Rioja, La  Total     2019    316798               26
118               Salamanca  Total     2019    330119               37
121  Santa Cruz de Tenerife  Total     2019   1032983               38
124                 Segovia  Total     2019    153129               40
127                 Sevilla  Total     2019   1942389               41
130                   Soria  Total     2019     88636               42
133               Tarragona  Total     2019    804664               43
136                  Teruel  Total     2019    134137               44
139                  Toledo  Total     2019    694844               45
142                   Total  Total     2019  47026208                0
145       Valencia/València  Total     2019   2565124               46
148              Valladolid  Total     2019    519546               47
151                  Zamora  Total     2019    172539               49
154                Zaragoza  Total     2019    964693               50
157                   Ávila  Total     2019    157640                5

In [213]:
tabla_paro_2019

    id_comunidad  id_provincia    año  total Paro Registrado
0              0             4   2019                    564
1              0            11   2019                   3297
2              0            14   2019                    925
3              0            18   2019                    471
4              0            21   2019                    583
5              0            23   2019                    494
6              0            29   2019                   1406
7              0            41   2019                   1787
8              1            22   2019                     41
9              1            44   2019                     23
10             1            50   2019                    171
11             2            33   2019                    904
12             3             7   2019                    726
13             4            35   2019                   3174
14             4            38   2019                   1841
15             5            39   2019                    352
16             6             2   2019                    385
17             6            13   2019                    462
18             6            16   2019                     52
19             6            19   2019                     52
20             6            45   2019                    296
21             7             9   2019                     49
22             7            24   2019                    139
23             7            34   2019                     46
24             7            37   2019                     62
25             7            40   2019                     32
26             7            42   2019                     19
27             7            47   2019                    133
28             7            49   2019                     45
29             7             5   2019                     44
30             8             8   2019                    901
31             8            17   2019                    160
32             8            25   2019                     85
33             8            43   2019                    246
34            17            51   2019                  11610
35            16             3   2019                   1042
36            16            12   2019                    286
37            16            46   2019                    667
38             9             6   2019                    391
39             9            10   2019                    153
40            10            15   2019                    681
41            10            27   2019                    235
42            10            32   2019                    200
43            10            36   2019                   1038
44            11            28   2019                   1923
45            18            52   2019                   9411
46            14            30   2019                   2213
47            12            31   2019                    118
48            13             1   2019                    375
49            13            48   2019                    589
50            13            20   2019                    345
51            15            26   2019                     90

In [ ]:
## CREACION DE DATOS DEL PARO NORMALIZADOS POR 2019 CADA 100000 habitantes

paro_poblacion_2019 = pd.merge(tabla_paro_2019, df_poblacion_2019, how = "left", left_on=["id_provincia"], right_on=["CodigoProvincia"])

paro_poblacion_2019 = paro_poblacion_2019[["id_comunidad", "id_provincia", "año", 
                                           "total Paro Registrado","Total"]]

paro_poblacion_2019["Paro normalizado"] = round((paro_poblacion_2019["total Paro Registrado"]*100000) / paro_poblacion_2019["Total"])
paro_poblacion_2019 = paro_poblacion_2019.rename(columns={"total Paro Registrado": "Paro absoluto",
                                                          "Total": "Poblacion"})

In [217]:
## CREACION DE DATOS DEL PARO NORMALIZADOS POR 2014 CADA 100000 habitantes


paro_poblacion_2014 = pd.merge(tabla_paro_2014, df_poblacion_2014, how = "left", left_on=["id_provincia"], right_on=["CodigoProvincia"])

paro_poblacion_2014 = paro_poblacion_2014[["id_comunidad", "id_provincia", "año", 
                                           "total Paro Registrado","Total"]]

paro_poblacion_2014["Paro normalizado"] = round((paro_poblacion_2014["total Paro Registrado"]*100000) / paro_poblacion_2014["Total"])
paro_poblacion_2014 = paro_poblacion_2014.rename(columns={"total Paro Registrado": "Paro absoluto",
                                                          "Total": "Poblacion"})