In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url1 = "https://sede.agenciatributaria.gob.es/AEAT/Contenidos_Comunes/La_Agencia_Tributaria/Estadisticas/Publicaciones/sites/irpfmunicipios/2022/jrubik7dee196ae088a75d2d7a295902b8c75056a9ed80.html"

response = requests.get(url1)
response.encoding = 'utf-8'  
soup = BeautifulSoup(response.text, 'html.parser')

tables = soup.find_all('table')

df1 = pd.read_html(str(tables[0]), decimal=",", thousands=".")[0]
df1 = df1.rename(columns={"Unnamed: 0": "Provincia"})




print(df1.shape)
df1.head(70)

(68, 10)

C:\Users\Jon\AppData\Local\Temp\ipykernel_21880\2089857388.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df1 = pd.read_html(str(tables[0]), decimal=",", thousands=".")[0]

,Provincia,Número de declaraciones,Renta bruta media,Número de municipios,Rentas del trabajo,Rentas exentas,Renta bruta,Cotizaciones sociales a la SS,Cuota resultante de la autoliquidación,Renta disponible
0,Total,22898072,30400,7603,547838428,25700185,696112475,25763465,108398218,561969473
1,Andalucía,4092833,25203,785,81661113,4645442,103149809,3932732,13867280,85352146
2,Almería,370379,22508,103,6511399,331433,8336364,330075,1036104,6970325
3,Cádiz,562798,25902,45,11841966,698222,14577458,555339,1924752,12097599
4,Córdoba,386797,23546,77,7328856,379168,9107421,352350,1165906,7589325
...,...,...,...,...,...,...,...,...,...,...
63,Ceuta,35157,31453,1,923133,43217,1105779,41163,73353,991285
64,Melilla,35796,31026,1,879424,52830,1110599,39435,70953,1000212
65,Melilla,35796,31026,1,879424,52830,1110599,39435,70953,1000212
66,No residentes,2346,30581,1,39049,15464,71742,2115,8830,60803
67,No residentes,2346,30581,1,39049,15464,71742,2115,8830,60803

In [27]:
dict_provincia = {
    "Araba/Álava": 1, "Albacete": 2, "Alicante/Alacant": 3, "Almería": 4, "Ávila": 5,
    "Badajoz": 6, "Balears, Illes": 7, "Barcelona": 8, "Burgos": 9, "Cáceres": 10,
    "Cádiz": 11, "Castellón/Castelló": 12, "Ciudad Real": 13, "Córdoba": 14,
    "Coruña, A": 15, "Cuenca": 16, "Girona": 17, "Granada": 18, "Guadalajara": 19,
    "Gipuzkoa": 20, "Huelva": 21, "Huesca": 22, "Jaén": 23, "León": 24, "Lleida": 25,
    "Rioja, La": 26, "Lugo": 27, "Madrid": 28, "Málaga": 29, "Murcia": 30, "Navarra": 31,
    "Ourense": 32, "Asturias": 33, "Palencia": 34, "Palmas, Las": 35, "Pontevedra": 36,
    "Salamanca": 37, "Santa Cruz de Tenerife": 38, "Cantabria": 39, "Segovia": 40,
    "Sevilla": 41, "Soria": 42, "Tarragona": 43, "Teruel": 44, "Toledo": 45,
    "Valencia/València": 46, "Valladolid": 47, "Bizkaia": 48, "Zamora": 49,
    "Zaragoza": 50, "Ceuta": 51, "Melilla": 52
}

df1['id_provincia'] = df1['Provincia'].apply(lambda x : dict_provincia[x] if x in dict_provincia else x)
df1 = df1[df1['Provincia'] != df1[df1.columns[-1]]]
df1 = df1.reset_index(drop=True)
df1 = df1.drop_duplicates(subset="Provincia", keep="first")

df1.head(70)

,Provincia,Número de declaraciones,Renta bruta media,Número de municipios,Rentas del trabajo,Rentas exentas,Renta bruta,Cotizaciones sociales a la SS,Cuota resultante de la autoliquidación,Renta disponible,id_provincia
0,Almería,370379,22508,103,6511399,331433,8336364,330075,1036104,6970325,4
1,Cádiz,562798,25902,45,11841966,698222,14577458,555339,1924752,12097599,11
2,Córdoba,386797,23546,77,7328856,379168,9107421,352350,1165906,7589325,14
3,Granada,453968,25024,174,8924832,558057,11360100,414651,1518147,9427495,18
4,Huelva,268057,22377,80,5068279,244080,5998219,249318,730729,5018280,21
5,Jaén,323032,21493,97,5607936,365708,6942831,258682,792642,5891679,23
6,Málaga,791650,27131,103,16058917,926204,21478629,791928,3039060,17648470,29
7,Sevilla,936152,27078,106,20318928,1142571,25348786,980388,3659939,20708973,41
8,Huesca,121558,27781,202,2635395,109026,3376952,130060,482228,2764717,22
9,Teruel,72031,25682,236,1510493,58754,1849874,73824,248955,1527126,44
10,Zaragoza,553870,29934,293,13509291,549961,16579516,638863,2560526,13380393,50
11,Asturias,544015,29498,78,13080751,710379,16047490,573600,2378703,13095547,33
12,"Balears, Illes",596804,33006,67,13811818,522120,19697970,701511,3245740,15751061,7
14,"Palmas, Las",544461,27060,34,11481846,543560,14733217,572533,1967217,12194739,35
15,Santa Cruz de Tenerife,496002,25885,54,10054068,419782,12838864,492497,1587028,10759795,38
16,Cantabria,311959,29166,102,7326796,311554,9098573,335914,1319543,7443353,39
18,Burgos,205370,29130,371,4932443,178043,5982494,226624,868355,4887599,9
19,León,243383,26701,211,5344112,237618,6498599,238078,891865,5368804,24
20,Palencia,88330,26402,191,1895077,77415,2332075,85654,313250,1933213,34
21,Salamanca,174762,26967,362,3702090,149438,4712850,163044,662486,3887400,37
22,Segovia,82253,26887,209,1751821,69042,2211575,83244,303954,1824414,40
23,Soria,51757,26737,181,1127809,39781,1383810,51700,188801,1143331,42
24,Valladolid,302270,29393,225,7242635,293518,8884645,330112,1318205,7236540,47
25,Zamora,87330,23453,248,1646990,73210,2048155,72004,253945,1722247,49
26,Albacete,199723,25094,87,4104721,184155,5011761,205902,639396,4166552,2
27,Ciudad Real,235515,24721,102,4779965,240654,5822234,231121,739768,4851449,13
28,Cuenca,99738,23331,239,1871316,94728,2326948,90946,264820,1971219,16
29,Guadalajara,140128,28923,284,3427273,158208,4052946,172907,560977,3319137,19
30,Toledo,355375,25194,202,7405225,312063,8953384,383072,1138540,7431972,45
31,Barcelona,2978835,36641,311,84467979,4071368,109148574,3953639,19581687,85616039,8
32,Girona,384384,31571,221,9247410,373933,12135294,464705,1939809,9731105,17
33,Lleida,221818,28986,231,5060641,243338,6429724,256820,965993,5207049,25
34,Tarragona,408071,29815,184,9907072,477332,12166679,479583,1853002,9834308,43
35,Alicante/Alacant,887100,25456,141,17536991,765091,22582352,882981,3094756,18605190,3
36,Castellón/Castelló,316860,27646,135,7039549,333177,8759797,352830,1277389,7129944,12
37,Valencia/València,1381910,29165,267,31761881,1621505,40304046,1557254,6102302,32645268,46
38,Badajoz,321207,22487,165,5790577,310879,7223016,270832,900895,6051401,6
39,Cáceres,198977,22687,223,3642822,193371,4514142,161813,572019,3780384,10
40,"Coruña, A",612220,28885,93,14308009,570731,17683869,655078,2676150,14353072,15
41,Lugo,171096,24661,67,3386896,158052,4219482,154488,557116,3507971,27
42,Ourense,155349,24459,92,3091239,147115,3799735,133480,485484,3181324,32
43,Pontevedra,485246,26652,61,10596408,422272,12932900,502948,1771039,10659168,36
44,Madrid,3724692,39892,179,115165088,4935195,148583560,5035251,27202410,116350875,28
45,Murcia,718304,26015,45,15099828,755715,18686977,765461,2468988,15452759,30
46,"Rioja, La",179184,28617,174,4032424,160066,5127669,197123,755480,4175216,26
48,Ceuta,35157,31453,1,923133,43217,1105779,41163,73353,991285,51
50,Melilla,35796,31026,1,879424,52830,1110599,39435,70953,1000212,52

In [28]:
url2 = "https://sede.agenciatributaria.gob.es/AEAT/Contenidos_Comunes/La_Agencia_Tributaria/Estadisticas/Publicaciones/sites/irpfmunicipios/2019/jrubikf75972228ea46b0ae33eab3856fdab1bf0228bd6f.html"

response = requests.get(url2)
response.encoding = 'utf-8'  
soup = BeautifulSoup(response.text, 'html.parser')

tables = soup.find_all('table')

df2 = pd.read_html(str(tables[0]), decimal=",", thousands=".")[0]
df2 = df2.rename(columns={"Unnamed: 0": "Provincia"})
periodo = 2019
df2['Año'] = periodo

print(df2.shape)
df2.head(70)

(68, 11)

C:\Users\Jon\AppData\Local\Temp\ipykernel_21880\3850065917.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2 = pd.read_html(str(tables[0]), decimal=",", thousands=".")[0]

,Provincia,Número de declaraciones,Renta bruta media,Número de municipios,Rentas del trabajo,Rentas exentas,Renta bruta,Cotizaciones sociales a la SS,Cuota resultante de la autoliquidación,Renta disponible,Año
0,Total,21028886,28384,7605,470562625,21200359,596886538,22782294,86601299,487553470,2019
1,Andalucía,3642683,23510,785,68559967,3588777,85639826,3400403,10545243,71696990,2019
2,Almería,324413,21399,103,5364508,248592,6942160,277486,805141,5859690,2019
3,Cádiz,495879,24497,45,10065861,534092,12147515,484276,1479154,10184236,2019
4,Córdoba,351445,21879,77,6237946,279244,7689417,310722,900972,6477839,2019
...,...,...,...,...,...,...,...,...,...,...,...
63,Ceuta,31336,31504,1,807847,31185,987219,36146,62338,888754,2019
64,Melilla,32015,30175,1,764741,38371,966065,34508,58050,873511,2019
65,Melilla,32015,30175,1,764741,38371,966065,34508,58050,873511,2019
66,No residentes,2838,29865,1,41671,22221,84757,2423,8802,73544,2019
67,No residentes,2838,29865,1,41671,22221,84757,2423,8802,73544,2019

In [29]:
dict_provincia = {
    "Araba/Álava": 1, "Albacete": 2, "Alicante/Alacant": 3, "Almería": 4, "Ávila": 5,
    "Badajoz": 6, "Balears, Illes": 7, "Barcelona": 8, "Burgos": 9, "Cáceres": 10,
    "Cádiz": 11, "Castellón/Castelló": 12, "Ciudad Real": 13, "Córdoba": 14,
    "Coruña, A": 15, "Cuenca": 16, "Girona": 17, "Granada": 18, "Guadalajara": 19,
    "Gipuzkoa": 20, "Huelva": 21, "Huesca": 22, "Jaén": 23, "León": 24, "Lleida": 25,
    "Rioja, La": 26, "Lugo": 27, "Madrid": 28, "Málaga": 29, "Murcia": 30, "Navarra": 31,
    "Ourense": 32, "Asturias": 33, "Palencia": 34, "Palmas, Las": 35, "Pontevedra": 36,
    "Salamanca": 37, "Santa Cruz de Tenerife": 38, "Cantabria": 39, "Segovia": 40,
    "Sevilla": 41, "Soria": 42, "Tarragona": 43, "Teruel": 44, "Toledo": 45,
    "Valencia/València": 46, "Valladolid": 47, "Bizkaia": 48, "Zamora": 49,
    "Zaragoza": 50, "Ceuta": 51, "Melilla": 52
}

df2['id_provincia'] = df2['Provincia'].apply(lambda x : dict_provincia[x] if x in dict_provincia else x)
df2 = df2[df2['Provincia'] != df2[df2.columns[-1]]]
df2 = df2.reset_index(drop=True)
df2 = df2.drop_duplicates(subset="Provincia", keep="first")

df2.head(70)

,Provincia,Número de declaraciones,Renta bruta media,Número de municipios,Rentas del trabajo,Rentas exentas,Renta bruta,Cotizaciones sociales a la SS,Cuota resultante de la autoliquidación,Renta disponible,Año,id_provincia
0,Almería,324413,21399,103,5364508,248592,6942160,277486,805141,5859690,2019,4
1,Cádiz,495879,24497,45,10065861,534092,12147515,484276,1479154,10184236,2019,11
2,Córdoba,351445,21879,77,6237946,279244,7689417,310722,900972,6477839,2019,14
3,Granada,403795,23515,174,7462988,436874,9495286,359094,1166851,7969631,2019,18
4,Huelva,239196,20972,80,4271150,192767,5016384,214973,563683,4237822,2019,21
5,Jaén,299266,20266,97,4862900,295386,6065031,231584,633952,5199653,2019,23
6,Málaga,696664,24712,103,13192984,724839,17216073,671936,2192832,14352482,2019,29
7,Sevilla,832025,25321,106,17101629,876983,21067958,850333,2802658,17415638,2019,41
8,Huesca,114378,25513,202,2281885,92455,2918147,116248,378463,2423483,2019,22
9,Teruel,69808,23356,236,1332318,48668,1630421,67621,198072,1364782,2019,44
10,Zaragoza,524938,27827,292,11900364,476981,14607403,586964,2066240,11954539,2019,50
11,Asturias,518251,27448,78,11745018,618827,14224740,542326,1932848,11750771,2019,33
12,"Balears, Illes",550891,29736,67,11815380,424500,16381423,613986,2446093,13321780,2019,7
14,"Palmas, Las",486470,25636,34,9775256,405672,12470922,498211,1590144,10383031,2019,35
15,Santa Cruz de Tenerife,434873,24474,54,8369344,298501,10643210,419354,1316068,8907979,2019,38
16,Cantabria,288367,27010,102,6343259,266305,7788696,301861,1038805,6448198,2019,39
18,Burgos,196484,26863,371,4365033,155396,5278110,208072,689535,4380593,2019,9
19,León,232065,24547,211,4702779,209587,5696590,221730,692459,4782735,2019,24
20,Palencia,85284,24470,191,1694358,66997,2086911,79906,250925,1756160,2019,34
21,Salamanca,165975,24569,362,3259531,122914,4077792,146951,509831,3421085,2019,37
22,Segovia,77101,24558,209,1505678,60991,1893425,73437,232434,1587615,2019,40
23,Soria,49693,24315,183,986171,32785,1208266,46402,145964,1015933,2019,42
24,Valladolid,289921,27941,224,6507730,258193,8100745,305912,1109177,6685773,2019,47
25,Zamora,83983,21386,248,1442438,60501,1796043,65427,194180,1536480,2019,49
26,Albacete,183127,23259,87,3473078,151411,4259361,179175,503450,3577135,2019,2
27,Ciudad Real,217194,22943,102,4078900,202483,4983065,202405,582523,4198216,2019,13
28,Cuenca,92178,21238,239,1570459,80906,1957661,78637,203364,1675729,2019,16
29,Guadalajara,125248,26814,285,2846285,135118,3358448,146747,429870,2781933,2019,19
30,Toledo,323260,23190,204,6238022,258520,7496315,329727,864959,6301761,2019,45
31,Barcelona,2789987,33958,311,73400974,3470303,94742856,3542496,15770893,75464931,2019,8
32,Girona,353080,28905,221,7852703,298261,10205639,409711,1487613,8308567,2019,17
33,Lleida,206831,26684,231,4334358,203837,5519045,225300,760222,4533671,2019,25
34,Tarragona,376416,27500,184,8490903,390533,10351296,422264,1442621,8486689,2019,43
35,Alicante/Alacant,789491,23348,141,14596212,535840,18433368,754908,2307772,15371296,2019,3
36,Castellón/Castelló,289546,25164,135,5918275,261685,7286093,306067,968993,6011202,2019,12
37,Valencia/València,1250209,27016,266,26736593,1263316,33776087,1342925,4760913,27673007,2019,46
38,Badajoz,297295,20916,165,5037883,243068,6218361,241436,694393,5282625,2019,6
39,Cáceres,188846,20942,223,3216596,155201,3954864,147573,448139,3359263,2019,10
40,"Coruña, A",570349,27160,93,12357672,512701,15490763,587688,2189318,12714149,2019,15
41,Lugo,161708,22281,67,2916500,132471,3603005,137191,429980,3035917,2019,27
42,Ourense,146293,22496,92,2681925,123556,3291079,117945,389588,2783643,2019,32
43,Pontevedra,446992,25026,61,9098441,355515,11186283,443796,1447012,9295719,2019,36
44,Madrid,3449219,37768,179,99869759,4339166,130269129,4494828,22709320,103069005,2019,28
45,Murcia,648871,24380,45,12742516,617374,15819722,660655,1958111,13201244,2019,30
46,"Rioja, La",170159,26735,174,3561775,130000,4549283,180331,606286,3762770,2019,26
48,Ceuta,31336,31504,1,807847,31185,987219,36146,62338,888754,2019,51
50,Melilla,32015,30175,1,764741,38371,966065,34508,58050,873511,2019,52

In [30]:
url3 = "https://sede.agenciatributaria.gob.es/AEAT/Contenidos_Comunes/La_Agencia_Tributaria/Estadisticas/Publicaciones/sites/irpfmunicipios/2014/jrubik46d57f66ff15f8ce6709405779df56d2f7e359c5.html"

response = requests.get(url3)
response.encoding = 'utf-8'  
soup = BeautifulSoup(response.text, 'html.parser')

tables = soup.find_all('table')

df3 = pd.read_html(str(tables[0]), decimal=",", thousands=".")[0]
df3 = df3.rename(columns={"Unnamed: 0": "Provincia"})
periodo = 2014
df3['Año'] = periodo

df3.to_csv("datos_irpf_provincia_2014.csv", index=False)

print(df3.shape)
df3.head(70)

(68, 11)

C:\Users\Jon\AppData\Local\Temp\ipykernel_21880\1674490486.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df3 = pd.read_html(str(tables[0]), decimal=",", thousands=".")[0]

,Provincia,Número de declaraciones,Renta bruta media,Número de municipios,Rentas del trabajo,Rentas exentas,Renta bruta,Cotizaciones sociales a la SS,Cuota resultante de la autoliquidación,Renta disponible,Año
0,Total,19359020,24568,7590,383075704,17437729,475612019,18679070,68433561,388514282,2014
1,Andalucía,3243402,20707,774,54812220,2687841,67162001,2687269,8262107,56215024,2014
2,Almería,271612,18666,102,4062063,154668,5069813,206119,588590,4275228,2014
3,Cádiz,442255,21760,44,8105705,402192,9623629,387865,1193432,8042520,2014
4,Córdoba,332680,19111,75,5185731,197884,6357850,254535,734713,5368731,2014
...,...,...,...,...,...,...,...,...,...,...,...
63,Ceuta,27949,30026,1,703394,18298,839200,31440,69792,737972,2014
64,Melilla,27418,28712,1,638331,19218,787228,28439,62132,696663,2014
65,Melilla,27418,28712,1,638331,19218,787228,28439,62132,696663,2014
66,No residentes,4055,23997,1,59170,16577,97308,3243,12016,82094,2014
67,No residentes,4055,23997,1,59170,16577,97308,3243,12016,82094,2014

In [31]:
dict_provincia = {
    "Araba/Álava": 1, "Albacete": 2, "Alicante/Alacant": 3, "Almería": 4, "Ávila": 5,
    "Badajoz": 6, "Balears, Illes": 7, "Barcelona": 8, "Burgos": 9, "Cáceres": 10,
    "Cádiz": 11, "Castellón/Castelló": 12, "Ciudad Real": 13, "Córdoba": 14,
    "Coruña, A": 15, "Cuenca": 16, "Girona": 17, "Granada": 18, "Guadalajara": 19,
    "Gipuzkoa": 20, "Huelva": 21, "Huesca": 22, "Jaén": 23, "León": 24, "Lleida": 25,
    "Rioja, La": 26, "Lugo": 27, "Madrid": 28, "Málaga": 29, "Murcia": 30, "Navarra": 31,
    "Ourense": 32, "Asturias": 33, "Palencia": 34, "Palmas, Las": 35, "Pontevedra": 36,
    "Salamanca": 37, "Santa Cruz de Tenerife": 38, "Cantabria": 39, "Segovia": 40,
    "Sevilla": 41, "Soria": 42, "Tarragona": 43, "Teruel": 44, "Toledo": 45,
    "Valencia/València": 46, "Valladolid": 47, "Bizkaia": 48, "Zamora": 49,
    "Zaragoza": 50, "Ceuta": 51, "Melilla": 52
}

df3['id_provincia'] = df3['Provincia'].apply(lambda x : dict_provincia[x] if x in dict_provincia else x)
df3 = df3[df3['Provincia'] != df3[df3.columns[-1]]]
df3 = df3.reset_index(drop=True)
df3 = df3.drop_duplicates(subset="Provincia", keep="first")

df3.head(70)

,Provincia,Número de declaraciones,Renta bruta media,Número de municipios,Rentas del trabajo,Rentas exentas,Renta bruta,Cotizaciones sociales a la SS,Cuota resultante de la autoliquidación,Renta disponible,Año,id_provincia
0,Almería,271612,18666,102,4062063,154668,5069813,206119,588590,4275228,2014,4
1,Cádiz,442255,21760,44,8105705,402192,9623629,387865,1193432,8042520,2014,11
2,Córdoba,332680,19111,75,5185731,197884,6357850,254535,734713,5368731,2014,14
3,Granada,369563,20646,169,6099316,348736,7630033,291624,925465,6413155,2014,18
4,Huelva,207008,19051,79,3346521,155694,3943670,166901,455196,3321671,2014,21
5,Jaén,284036,17693,97,4067546,223735,5025503,189949,513294,4322330,2014,23
6,Málaga,592183,21409,103,10062496,545256,12678038,502199,1587386,10589507,2014,29
7,Sevilla,744065,22624,105,13882844,659675,16833464,688077,2264032,13881883,2014,41
8,Huesca,110777,22385,202,1896135,92286,2479701,96421,315119,2068194,2014,22
9,Teruel,69817,20904,235,1173955,52322,1459422,59665,176458,1223333,2014,44
10,Zaragoza,502642,24806,293,10063024,473786,12468368,496587,1754097,10218062,2014,50
11,Asturias,511584,24819,78,10452427,595097,12696940,519923,1758402,10418993,2014,33
12,"Balears, Illes",480427,24692,67,9005983,292332,11862618,458057,1730004,9674794,2014,7
13,"Palmas, Las",408027,22734,34,7558153,267558,9276126,379865,1241798,7654659,2014,35
14,Santa Cruz de Tenerife,364146,21605,54,6430895,209562,7867373,315871,1027414,6524350,2014,38
15,Cantabria,274753,24283,102,5439897,243735,6671902,261219,898010,5512857,2014,39
17,Albacete,174026,20177,87,2876301,117017,3511340,147466,405236,2958705,2014,2
18,Ciudad Real,210956,20201,102,3464630,177229,4261615,169586,487110,3605021,2014,13
19,Cuenca,91117,18619,239,1339119,66740,1696541,65794,173498,1457275,2014,16
20,Guadalajara,114813,24085,287,2335564,115585,2765324,120837,356920,2287658,2014,19
21,Toledo,303774,20257,204,5117624,204769,6153468,272023,694078,5187554,2014,45
22,Burgos,192082,23917,371,3740725,149220,4593949,180574,621725,3791872,2014,9
23,León,231010,22075,211,4150159,200064,5099630,212045,635059,4253120,2014,24
24,Palencia,83288,21882,191,1456271,64989,1822526,72040,224883,1525666,2014,34
25,Salamanca,163462,21539,362,2837711,107325,3520759,128860,448386,2943595,2014,37
26,Segovia,74175,21664,209,1257096,56816,1606912,61547,197309,1348077,2014,40
27,Soria,48991,21555,183,839227,30604,1056006,39831,130237,885968,2014,42
28,Valladolid,274286,24153,225,5457502,237684,6624923,261245,902781,5461056,2014,47
29,Zamora,85185,19151,248,1271262,60206,1631358,57205,182441,1391739,2014,49
30,Barcelona,2603069,28890,311,59061658,3046758,75202832,2873612,12097660,60233758,2014,8
31,Girona,326991,24615,221,6269491,243942,8048738,333456,1126665,6588768,2014,17
32,Lleida,200217,22866,226,3550506,178153,4578191,185321,601834,3791116,2014,25
33,Tarragona,348870,24233,184,6935395,313885,8454268,343979,1170084,6940471,2014,43
34,Badajoz,285004,18668,165,4289179,197333,5320380,203825,592545,4524124,2014,6
35,Cáceres,187326,18544,223,2819752,138116,3473703,127644,393097,2953058,2014,10
36,"Coruña, A",545803,22966,93,10246845,429875,12534861,494370,1724128,10316763,2014,15
37,Lugo,163515,19297,67,2513063,122000,3155415,119393,373970,2662082,2014,27
38,Ourense,146992,19608,92,2329372,111661,2882218,103462,341073,2437791,2014,32
39,Pontevedra,415969,21637,62,7442889,299327,9000342,369948,1152613,7477959,2014,36
40,Madrid,3103908,32281,179,80850687,3524093,100196471,3744629,17668300,78787147,2014,28
41,Murcia,581017,21290,45,10139966,442996,12369695,521752,1526498,10321689,2014,30
42,"Rioja, La",161517,23187,173,2931144,127167,3745081,146844,497917,3100423,2014,26
43,Alicante/Alacant,710954,20454,141,11682083,390941,14541706,594578,1803481,12144125,2014,3
44,Castellón/Castelló,271357,21605,135,4780016,198825,5862784,245940,774177,4842895,2014,12
45,Valencia/València,1159927,23100,264,21700744,1067286,26793965,1089864,3660070,22044769,2014,46
46,Ceuta,27949,30026,1,703394,18298,839200,31440,69792,737972,2014,51
48,Melilla,27418,28712,1,638331,19218,787228,28439,62132,696663,2014,52

In [32]:
# Concatenar verticalmente los dos DataFrames
df_concat = pd.concat([df2, df3], ignore_index=True)

# Guardar el resultado en un nuevo archivo si lo deseas
df_concat.to_csv("RENTA.csv", index=False)

# Verificar resultado
print(df_concat.shape)
print(df_concat['Año'].value_counts())
df_concat.head(94)

(94, 12)
Año
2019    47
2014    47
Name: count, dtype: int64

,Provincia,Número de declaraciones,Renta bruta media,Número de municipios,Rentas del trabajo,Rentas exentas,Renta bruta,Cotizaciones sociales a la SS,Cuota resultante de la autoliquidación,Renta disponible,Año,id_provincia
0,Almería,324413,21399,103,5364508,248592,6942160,277486,805141,5859690,2019,4
1,Cádiz,495879,24497,45,10065861,534092,12147515,484276,1479154,10184236,2019,11
2,Córdoba,351445,21879,77,6237946,279244,7689417,310722,900972,6477839,2019,14
3,Granada,403795,23515,174,7462988,436874,9495286,359094,1166851,7969631,2019,18
4,Huelva,239196,20972,80,4271150,192767,5016384,214973,563683,4237822,2019,21
...,...,...,...,...,...,...,...,...,...,...,...,...
89,Alicante/Alacant,710954,20454,141,11682083,390941,14541706,594578,1803481,12144125,2014,3
90,Castellón/Castelló,271357,21605,135,4780016,198825,5862784,245940,774177,4842895,2014,12
91,Valencia/València,1159927,23100,264,21700744,1067286,26793965,1089864,3660070,22044769,2014,46
92,Ceuta,27949,30026,1,703394,18298,839200,31440,69792,737972,2014,51
93,Melilla,27418,28712,1,638331,19218,787228,28439,62132,696663,2014,52